@charset "utf-8";
/* Reset */
html,body,h1,h2,h3,h4,h5,h6,div,p,blockquote,pre,code,address,ul,ol,li,menu,nav,section,article,aside,
dl,dt,dd,table,thead,tbody,tfoot,label,caption,th,td,form,fieldset,legend,hr,input,button,textarea,object,figure,figcaption {margin:0;padding:0; outline:none;}
html, body{width:100%;}
html{-webkit-touch-callout:none; -webkit-user-select:none; -webkit-tap-highlight-color:rgba(0, 0, 0, 0); position: relative; min-height: 100%; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;}
body{width:100%; background:#fff; min-width:320px; min-height:100%; -webkit-text-size-adjust:none;word-wrap:break-word;word-break:break-all;letter-spacing:-0.5px;}
body,input,select,textarea,button {border:none;font-size:12px;color:#000;}
ul,ol,li{list-style:none;}
table{width:100%;border-spacing:0;border-collapse:collapse;}
img,fieldset{border:0;}
address,caption,cite,code,em{font-style:normal;font-weight:normal;}
label,img,input,select,textarea,button{vertical-align:middle;}
caption,legend{line-height:0;font-size:1px;overflow:hidden;}
.hide { position:absolute; left:-300000%;}
/* hr{display:none;} */
main,header,section,nav,footer,aside,article,figure{display:block;}
a{color:#000;text-decoration:none;}
 * {-webkit-tap-highlight-color:rgba(0,0,0,0) !important;tap-highlight-color:rgba(0,0,0,0) !important; outline: none;}
a:link,a:hover,a:active{text-decoration:none;}
.clear:after { content: ""; display:block; clear:both;}
select { display:inline-block; /* for Firefox */ -moz-appearance: none;	/* for Chrome */  -webkit-appearance: none; -webkit-border-radius: 0; -moz-border-radius:0; border-radius:0;}
/* For IE10 */
select::-ms-expand { display: none;}
input[type=text], input[type=password], input[type=search], input[type=number], input[type=email], input[type=tel], input[type=date] { padding:0; -webkit-border-radius:0; -moz-border-radius:0; border-radius:0;}

/* common */
input[type="radio"] { position:absolute; left:-30000%;}
.fs0 { font-size:0 !important;}
.pd_0 { padding: 0 !important;}
.pdr_10 { padding-right: 10px !important;}
.mg_0 {margin: 0px !important;}
.mgt_0 {margin-top: 0px !important;}
.mgt_20 {margin-top: 20px !important;}
.mgl_10 {margin-left: 10px;}
.mgl_20 {margin-left: 20px;}
.btn { display:inline-block; font-size:0; vertical-align:top;}
.colorRed { color:#ee303c !important;}
.colorGray { color:#797b83 !important;}
.chkwrap input { position:absolute; left:0; top:-9999px; width:100%; height:100%;}
.switch { position: relative; display: inline-block; width:58px; height:26px;}
.slider { position: absolute; cursor: pointer; top: 0; left: 0px; right: 0; bottom: 0; background-color: #eff0f2; border-radius:13px; -webkit-transition: .2s; transition: .2s;}
.slider:before { position: absolute; content: ""; height: 26px; width:26px; left:-1px; bottom:0px; border-radius:100%; background-color: #151a2c; -webkit-transition: .2s; transition: .2s;}
input:checked + .switch .slider:before { -webkit-transform: translateX(33px); -ms-transform: translateX(33px); transform: translateX(33px);}
input + .switch .tip.left {color: #fff;}
input:checked + .switch .tip.left {color: #a1a3ac;}
input:checked + .switch .tip.right {color: #fff;}
.slider.round { border-radius:26px;}
.slider.round:before { border-radius: 50%;}
.switch .tip { position:absolute; top:50%; width:26px; font-size:14px; color:#a1a3ac; text-align:center; transform:translateY(-50%);}
.switch .tip.left { left:0px;}
.switch .tip.right { right:0px;}
.scroll_x { width: 100%; overflow-x: auto;}
.chkwrap.checkBox label { display: inline-block; padding-left: 26px; line-height: 20px; font-size: 12px; background:url(../images/icoChk.png) no-repeat left center; background-size: auto 20px;}
.chkwrap.checkBox input:checked + label { background:url(../images/icoChkOn.png) no-repeat left center; background-size: auto 20px;}

.chkwrap.radioBox label { display: inline-block; margin: 10px 20px 10px 0; padding-left: 26px; line-height: 20px; font-size: 14px; background:url(../images/ic_radio_off.png) no-repeat left center; background-size: auto 20px;}
.chkwrap.radioBox input:checked + label { background:url(../images/ic_radio_on.png) no-repeat left center; background-size: auto 20px;}

/* hr { margin: 25px 0; border: 0; border-top: 1px solid #d8d8d8;} */

.left_menu { display: none; position: fixed; top: 0; width: 100%; height: 100vh; z-index: 99999;}
.left_menu nav { display: none; position: absolute; top:0; left:-290px; padding: 60px 20px 0; width: 290px; height: 100vh; background: #151a2c; box-sizing: border-box;z-index: 9999;}
.left_menu nav .profile dt { font-size: 18px; color: #fff; font-weight: bold;}
.left_menu nav .profile dd { margin-top: 4px; font-size: 14px; color: #999999;}
.left_menu nav .menu {margin-top: 55px;}
.left_menu nav .menu li { margin-bottom: 20px; background:url(../images/btnNext.png) no-repeat right center; background-size: auto 20px;}
.left_menu nav .menu li a { line-height: 27px;font-size: 18px; font-weight: bold; color: #fff;}
.left_menu.active {display: block;}
.left_menu.active nav { display: block;}

select { padding:0 30px 0 10px; width:100%; height:40px; background:#eff0f2 url(../images/icoArrow.png) no-repeat right center; background-size:auto 24px; border-radius: 10px; font-size:14px; box-sizing:border-box; vertical-align:top;}
.input_box {display: inline-block;padding:0 10px !important; width:100%; height:40px; background:#eff0f2; border-radius: 10px !important; font-size:16px; font-weight: bold; box-sizing:border-box; }
.input_box.icoColor {padding-left: 40px !important; background:#eff0f2 url(../images/icoColor.png) no-repeat 10px center; background-size: 24px;}
.input_box.icoSearch {padding-left: 40px !important; background:#eff0f2 url(../images/ic_search.png) no-repeat 10px center; background-size: 24px;}
.input_box.icoSearch input[type=text] { width: calc(100% - 40px);}
.input_box input[type=text] {height:40px;font-size:14px;background:#eff0f2;font-weight: normal;}
.input_box.rgb input[type=text] {width: 26%;}
.input_box.cmyk input[type=text] {width: 17%;}
.input_box.error {border: 1px solid #ff0039;}
.input_box.error input[type=text] {height:38px;}
.input_box:disabled, .input_box.disabled {color: #a1a3ac;}

input::placeholder {color: #a1a3ac;}
select:disabled { opacity: 0.5;}

.bottom_btn_area { padding-top: 20px; width:100%; text-align:center; z-index:10;}
.bottom_btn_area.fixed { position: fixed; bottom: 10px;}
.bottom_btn_area > .btn { width:calc(100% - 20px); height:48px; line-height:48px; text-align:center; font-size:16px; border-radius: 10px; color:#fff; vertical-align:top;}
.bottom_btn_area.col2 > .btn { width:calc(50% - 15px);}
.bottom_btn_area.col2 > .btn + .btn { margin-left: 10px;}
.btn.typeTest { min-width: 100px; min-height:30px; line-height:30px; font-size: 16px; border: 1px solid #25293a; border-radius: 24px; background:#fff; color: #6a718a; font-weight: bold;}
.btn.typeWhite { border: 1px solid #25293a; border-radius: 24px; background:#fff; color: #6a718a; font-weight: bold;}
.btn.typeGray { background:#999;}
.btn.typeRed { background:#ee303c;}
.btn.typeBlack { border-radius: 24px; background:#151a2c;}
.btn.typeBlack:active { color:#a1a3ac; background:#000000;}

.btn.close { position: absolute; top:10px; right:10px; width:30px; height:30px; background:url(../images/ic_close.png) no-repeat center; background-size: 24px;}

.btn.btnMinus { width:24px; height:24px; background:url(../images/btnMinus.png) no-repeat center;}
.btn.btnPlus { width:24px; height:24px; background:url(../images/btnPlus.png) no-repeat center;}
.btn_option { position: absolute; top:0; right:0; width:24px; height:24px; background: url(../images/ic_new_setting.png) no-repeat center; background-size: 24px;}
.btn_more { position: absolute; top:0; right:0; width:24px; height:24px; background: url(../images/ic_title_btn_right.png) no-repeat center; background-size: 24px;}
.btnPhoto { width:100%; height:40px; border:1px solid #a1a3ac; background:#fff; line-height:40px; border-radius: 10px; font-size:14px; text-align:center;}
.btnPhoto span { padding-left:20px; background:url(../images/icoPhoto.png) no-repeat left center; background-size: 16px; font-size:14px; color:#a1a3ac;}
.btnPhoto:active {background: #ebebee;}
.btnFilter { width:100px; height:40px; border:1px solid #151a2c; background:#fff; line-height:40px; border-radius: 20px; font-size:16px; text-align:center; vertical-align: top;}
.btnFilter span { padding-right:28px; background:url(../images/ic_filter.png) no-repeat right center; background-size: 24px; font-size:16px; color:#151a2c;}
.btnFilter:active {background: #ebebee;}
.btnProjectCheck { position: absolute; top:8px; right:121px; width:24px; height:24px; background: url(../images/ic_view_check_nor.png) no-repeat center; background-size: 24px;}
.btnProjectCheck::before { display: inline-block; content: ""; margin-left: 37px; height: 14px; width:1px; background-color: #d8d8d8; }
.btnProjectCheck.checked { background: url(../images/ic_view_check_pre.png) no-repeat center; background-size: 24px;}
.btnThumbnail { position: absolute; top:8px; right:68px; width:24px; height:24px; background: url(../images/ic_view_grid_nor.png) no-repeat center; background-size: 24px;}
.btnThumbnail.active { background: url(../images/ic_view_grid_pre.png) no-repeat center; background-size: 24px;}
.btnHorizontal { position: absolute; top:8px; right:34px; width:24px; height:24px; background: url(../images/ic_view_list_nor.png) no-repeat center; background-size: 24px;}
.btnHorizontal.active { background: url(../images/ic_view_list_pre.png) no-repeat center; background-size: 24px;}
.btnVertical { position: absolute; top:8px; right:0; width:24px; height:24px; background: url(../images/ic_view_detail_nor.png) no-repeat center; background-size: 24px;}
.btnVertical.active { background: url(../images/ic_view_detail_pre.png) no-repeat center; background-size: 24px;}
.btnChart { position: absolute; top:8px; right:0; width:24px; height:24px; background: url(../images/ic_view_chart_nor.png) no-repeat center; background-size: 24px;}
.btnChart.active { background: url(../images/ic_view_chart_pre.png) no-repeat center; background-size: 24px;}

.bgWhite { background:#ffffff;}
.bgGray { background:#eff0f2;}

.relative {position: relative;}
.ellipsis {display: inline-block;text-overflow:ellipsis; white-space:nowrap; word-wrap:normal; text-align: center; overflow:hidden;}

main {padding-top: 50px; padding-bottom: 10px; min-height: 100vh; box-sizing:border-box;}

.header { position:absolute; left:0; top:0; width:100%; min-height:50px; z-index:10; text-align:center; background:#151a2c;}
.header h1 { height:50px; background:#151a2c; line-height:50px; font-size:18px; color:#fff; font-weight:bold; box-sizing:border-box;}
.header.type2 h1 { border:none; background:#fff; line-height:54px; font-weight:bold;}
.header .btnPrev { position:absolute; left:20px; top:50%; margin-top:-12px; width:24px; height:24px; background:url(../images/btnPrev.png) no-repeat center; background-size: 100%;}
.header .btnCamera { position:absolute; right:20px; top:50%; margin-top:-12px; width:24px; height:24px; background:url(../images/ic_top_camera.png) no-repeat center; background-size: 100%;}
.header .btnEdit { position:absolute; right:20px; top:50%; margin-top:-12px; width:24px; height:24px; background:url(../images/ic_top_edit.png) no-repeat center; background-size: 100%;}
.header .btnClose { position:absolute; left:20px; top:50%; margin-top:-12px; width:24px; height:24px; background:url(../images/ic_close.png) no-repeat center; background-size: 100%;}
.header .btnClose.right { left:auto; right: 20px;}
.header .btnCompare { position:absolute; right:50px; top:50%; margin-top:-12px; width:24px; height:24px; background:url(../images/ic_top_compare.png) no-repeat center; background-size: 100%;}
.header .btnDelete { position:absolute; right:20px; top:50%; margin-top:-12px; width:24px; height:24px; background:url(../images/ic_top_delete.png) no-repeat center; background-size: 100%;}


section .inner { position:relative; margin-top: 16px; padding:20px; background:#ffffff; box-shadow: 0 2px 3px #ddd;}
section .inner.type2 { position:relative; margin-top: 0px; padding:20px; background:#ffffff; box-shadow: none;}
/* section .inner_img { padding:0;}
section .inner_img img { width: 100%;} */
section .inner h2 { font-size:18px;}
section .inner h2 .num { color: #a1a3ac;}
section .inner h3 { margin-bottom: 7px; font-size:13px; font-weight: normal; color: #5f6166;}
section .inner h3 .right { float: right; font-size:13px; color: #151a2c;}
section .inner h3.sub {margin-top: 15px;}
section .inner h3.sub span em {margin-left: 10px; font-size: 14px; color: #151a2c; font-weight: bold;}
section .inner h3.sub span + span { margin-left:10px; padding-left:10px; border-left: 1px solid #d8d8d8;}
section .inner .right_area { position: absolute; top: 20px; right: 20px;}
section .inner .inner-item {margin-top: 10px;}
section .inner .inner-item + h2 {margin-top: 25px;}
section .inner .inner-item .nodata { line-height: 150px; font-size: 18px; color: #a1a3ac; text-align: center;}
section .inner .inner-item .inner_left {display: inline-block; width: calc(50% - 5px);}
section .inner .inner-item .inner_right {display: inline-block; margin-left: 10px; width: calc(50% - 5px);}
section .inner .inner-item .inner_left.w30p {width: calc(30% - 5px);}
section .inner .inner-item .inner_right.w70p {width: calc(70% - 5px);}
section .inner .inner-item .col {display: inline-block; width: 50%;}
section .inner .inner-item .col .color_code { width: calc(100% - 9px); height: 58px; border-radius: 10px; border: 1px solid #ddd;}
section .inner .inner-item .col.color_left h3 {margin-right: 7px;}
section .inner .inner-item .col.color_right h3 {margin-left: 7px;}
section .inner .inner-item .col.color_right .color_code {margin-left: 7px;}
section .inner .inner-item .color_ratio { height: 84px;}
section .inner .inner-item .color_ratio td { box-sizing: border-box;}
section .inner .inner-item .color_ratio.pv0 td { border:0px;}
section .inner .inner-item .color_ratio.pv25 td { border:3px solid #000;}
section .inner .inner-item .color_ratio.pv50 td { border:7px solid #000;}
section .inner .inner-item .color_ratio.pv75 td { border:11px solid #000;}
section .inner .inner-item .color_ratio.pv100 td { border:14px solid #000;}
section .inner .inner-item .ratio_bar {margin-top: 20px;}
section .inner .inner-item .ratio_bar span { display: inline-block; font-size: 13px;}
section .inner .inner-item .ratio_bar span.right { float: right;}
section .inner .inner-item .ratio_bar span.tit { margin-top: 5px; color: #5f6166;}
section .inner .inner-item .ratio_bar span.tit2 { margin-bottom: 5px; color: #5f6166;}
section .inner .inner-item .ratio_bar span em { font-size: 24px;}
section .inner .inner-item .ratio_bar .bar { position: relative; margin-top: 5px; width: 100%; height: 12px; border-radius: 6px;}
section .inner .inner-item .ratio_bar .bar.small { margin-top: 6px; height: 8px; border-radius: 4px;}
section .inner .inner-item .ratio_bar .bar::before { content: ""; position: absolute; top:50%; left:25%; margin: -14px 0 0 -14px; width: 28px; height: 28px; background:url(../images/ic_new_slider.png) no-repeat center; background-size: 100%;}

/* 라이브러리 Slider */
section .inner .inner-item .ratio_bar .ui-widget.ui-widget-content { margin-top: 5px; height: 12px; border-radius: 6px;}
section .inner .inner-item .ratio_bar .ui-slider .ui-slider-handle { width: 28px; height: 28px; border-radius: 6px; background: #fff url(../images/ic_new_slider2.png) no-repeat center; background-size: 14px;}
section .inner .inner-item .ratio_bar .ui-slider-horizontal .ui-slider-handle { top:-9px; margin-left: -14px;}
section .inner .inner-item .ratio_bar .ui-widget-content .ui-state-active { border: 1px solid #c5c5c5; background: #000 url(../images/ic_new_slider2_on.png) no-repeat center; background-size: 14px;}
section .inner .inner-item .openList_item .ratio_bar .ui-widget.ui-widget-content { margin-top: 8px; height: 8px; border-radius: 3px;}
section .inner .inner-item .openList_item .ratio_bar .ui-slider-horizontal .ui-slider-handle { top:-11px;}

section .inner .inner-item .openList_item .ratio_bar {margin-top: 0px;}
section .inner .inner-item .openList_item .ratio_bar + .ratio_bar {margin-top: 20px;}
section .inner .inner-item select.col {width: calc(50% - 5px);}
section .inner .inner-item select.col + .col {margin-left: 10px;}
section .inner .inner-item .ul_list li { line-height: 24px; font-size: 14px; color: #777;}
section .inner .inner-item .ul_list li::before { content: "ㆍ";}
section .inner .inner-item .color_list {display: inline-block; margin: 4px; width: calc(25% - 10px); text-align: center;}
section .inner .inner-item .color_list dd { position: relative;width: 100%; height: 72px; border-radius: 10px; box-shadow: 0 2px 5px #999;}
section .inner .inner-item .color_list ul { position: absolute; bottom: 0; width: 100%;}
section .inner .inner-item .color_list li { display: inline-block; width: 50%; height: 16px;}
section .inner .inner-item .color_list li.left { border-bottom-left-radius: 10px;}
section .inner .inner-item .color_list li.right { border-bottom-right-radius: 10px;}
section .inner .inner-item .color_list dt { margin-top: 4px; width: 100%; font-size: 12px; text-overflow:ellipsis; white-space:nowrap; word-wrap:normal; overflow:hidden;}
section .inner .inner-item .color_list.library dd { position: relative; width: 92px; height: 100px;}
section .inner .inner-item .color_list.library li  { height: 20px;}
section .inner .inner-item .color_list.library dt { width: 92px; font-size: 14px;}
section .inner .inner-item .color_list.library .tag { margin-top: 5px; padding: 0 7px; max-width: 78px; line-height: 18px; font-size: 11px; border-radius: 10px; background: #eff0f2;}
section .inner .inner-item dl.inner-list { margin-bottom: 24px;}
section .inner .inner-item dl.inner-list dt { margin-bottom: 7px;font-size: 12px; color: #5f6166;}
section .inner .inner-item dl.inner-list dd { font-size: 14px; font-weight: bold; color: #151a2c;}
section .inner .inner-item dl.inner-list dd.default { font-weight: normal; color: #b3b8ca;}
section .inner .inner-item .tag-list_area {margin-top: 5px;}
section .inner .inner-item .tag-list { display: inline-block; margin-top: 8px; margin-right: 8px; padding-left: 10px; height: 26px; font-size: 12px; border-radius: 14px; border: 1px solid #ecedee;}
section .inner .inner-item .tag-list .dot { display: inline-block; margin-top: 9px; width: 8px; height: 8px; border-radius: 4px; vertical-align: top;}
section .inner .inner-item .tag-list .ellipsis { max-width: 80px; line-height: 26px;}
section .inner .inner-item .tag-list .close2 { width:27px; height:26px; background:url(../images/ic_tag_close.png) no-repeat center; background-size: 12px;}

section .inner .inner-view-item {margin-top: 20px;}
section .inner .inner-view-item h2 { display: inline-block; color: #797b83;}
section .inner .inner-view-item .item { margin-left: 12px; font-size: 16px; font-weight: bold; color: #151a2c;}
section .inner .inner-view-item .item + .item { margin-left:10px; padding-left:10px; border-left: 1px solid #d8d8d8;}
section .inner .inner-view-item .ul_list {margin-top: 5px;}
section .inner .inner-view-item .ul_list li { line-height: 24px; font-size: 16px; font-weight: bold; color: #151a2c;}
section .inner .inner-view-item .ul_list li .day { line-height: 24px; font-size: 12px; font-weight: normal; color: #797b83;}
section .inner .inner-view-item .ul_list li::before { content: "ㆍ";}
section .inner .inner-view-item .tag {margin-top: 8px; padding: 0 10px; max-width: 78px; line-height: 28px; font-size: 12px; border-radius: 14px; background: #eff0f2;}
section .inner .inner-view-item .tag + .tag { margin-left: 6px;}

section .inner.project { margin-top: 0px; padding: 0 10px 20px 20px; box-shadow: none;}
section .inner.project:first-child { padding: 20px 10px 20px 20px; box-shadow: none;}
section .inner.project .inner-item { margin-top: 20px;}
section .inner.project .inner-item:first-child { margin-top: 0px;}
section .inner.project .inner-item .tit { margin-right: 10px;}
section .inner.project .inner-item .tit a { display:block; margin-bottom: 10px; height:40px; background:url(../images/ic_title_btn_down.png) no-repeat 100% center; background-size: auto 24px; line-height:40px; font-size:14px; box-sizing:border-box;}
section .inner.project .inner-item .tit.active a { background:url(../images/ic_title_btn_up.png) no-repeat 100% center; background-size: auto 24px;}
section .inner.project .inner-item .chkwrap.checkBox {position: absolute; top:50%; left:50%; transform:translate(-50%,-50%);}
section .inner.project .inner-item .chkwrap.checkBox label { padding: 0; width: 24px; height: 24px; background:url(../images/ic_check_off.png) no-repeat left center; background-size: auto 24px;}
section .inner.project .inner-item .chkwrap.checkBox input:checked + label {background:url(../images/ic_check_on.png) no-repeat left center; background-size: auto 24px;}

section .inner.project .inner-item .tit + .list-thumbnail { display: none;}
section .inner.project .inner-item .list-thumbnail.active { display: block;}
/* section .inner.project .inner-item .list-thumbnail li { display: inline-block; margin-bottom: 10px; margin-right: 10px; width:72px;}
section .inner.project .inner-item .list-thumbnail li dt { width:72px; margin-top: 5px; font-size: 12px;}
section .inner.project .inner-item .list-thumbnail li dd { position: relative; width:72px; height: 72px; border-radius: 10px;} */
/* li 4개 고정 */
section .inner.project .inner-item .list-thumbnail li { display: inline-block; margin-bottom: 10px; margin-right: 10px; width:calc(25% - 10px);}
section .inner.project .inner-item .list-thumbnail li dt { width:72px; margin-top: 5px; font-size: 12px;}
section .inner.project .inner-item .list-thumbnail li dd { position: relative; width:100%; height: 72px; border-radius: 10px;}
section .inner.project .inner-item .list-thumbnail li dd ul { position: absolute; bottom: 0; width: 100%;}
section .inner.project .inner-item .list-thumbnail li dd li { display: inline-block; margin:0; width: 50%; height: 16px;}
section .inner.project .inner-item .list-thumbnail li dd li.left { border-bottom-left-radius: 10px;}
section .inner.project .inner-item .list-thumbnail li dd li.right { border-bottom-right-radius: 10px;}

section .inner.project .inner-item .list-horizontal { margin-right: 10px;}
section .inner.project .inner-item .tit + .list-horizontal { display: none;}
section .inner.project .inner-item .list-horizontal.active { display: block;}
section .inner.project .inner-item .list-horizontal li { margin-bottom: 10px;}
section .inner.project .inner-item .list-horizontal dl { position: relative; height: 68px; line-height: 68px; font-size: 14px; border-radius: 10px;}
section .inner.project .inner-item .list-horizontal dl dt { display: inline-block; padding-left: 12px; line-height: 68px; color: #fff}
section .inner.project .inner-item .list-horizontal dl dd { display: inline-block; float: right; padding-right: 12px; line-height: 68px; color: #fff}
section .inner.project .inner-item .list-horizontal dl dd .checkBox { position: absolute; top:50%; left:10px; line-height: 1em; transform:translate(0%, -50%);}
section .inner.project .inner-item .list-horizontal dl dd.check { float: none; width: 15px;}

section .inner.project .inner-item .tit + .list-vertical { display: none;}
section .inner.project .inner-item .list-vertical.active { display: block;}
section .inner.project .inner-item .list-vertical { padding-right: 10px;}
section .inner.project .inner-item .list-vertical li + li { margin-top: 30px;}
section .inner.project .inner-item .list-vertical li .title { position: relative; margin-bottom: 10px; font-size: 16px; font-weight: bold;}
section .inner.project .inner-item .list-vertical li .title .checkBox {  display: inline-block; position: inherit; top:auto; left:auto; transform:translate(0%, 0%);}
section .inner.project .inner-item .list-vertical dl { display: inline-block; font-size: 14px; vertical-align: top;}
section .inner.project .inner-item .list-vertical .color_ratio { margin-bottom: 10px;}
section .inner.project .inner-item .list-vertical dl.color_area { width: 40%;}
section .inner.project .inner-item .list-vertical dl.color_area dd.color_box { width: calc(100% - 10px);}
section .inner.project .inner-item .list-vertical dl.pv_area { width: 20%;}
section .inner.project .inner-item .list-vertical dl dd.color_box { height: 20px; border-radius: 5px;}
section .inner.project .inner-item .list-vertical dl dt { margin-top: 5px; font-weight: bold;}
section .inner.project .inner-item .list-vertical dl dd.info_box { margin-top: 5px; color: #a1a3ac; font-size: 12px;}
section .inner.project .inner-item .list-vertical dl dd.info_box p { line-height: 1.6em;}

section .inner.project.cluster { margin-top: 16px; padding: 15px 10px 20px 20px; box-shadow: 0 2px 3px #ddd;}
section .inner.project.cluster .cluster_header { height: 24px;}
section .inner.project.cluster .cluster_header .right_area { top: 15px;}
section .inner.project.cluster .cluster_header .right_area .btn { top: 0px;}
section .inner.project.cluster .chart_area { min-height: 100px; font-size: 14px;}

section .inner .button_area {margin-top: 10px;}

/* .chktype2 .row:first-child { margin:0;}
.chktype2 .row > span { display:block; line-height:32px; font-size:14px; color:#1a1a1a;}
.chktype2 .chkwrap { position:absolute; right:0; top:0;} */
.chktype2 .switch { width: 122px;}
.chktype2 .slider:before {width:62px;border-radius: 13px;}
.chktype2 input:checked + .switch .slider:before { -webkit-transform: translateX(61px); -ms-transform: translateX(61px); transform: translateX(61px);}
.chktype2 .switch .tip { width: 60px;}

input[type=text].icoColor {padding-left: 40px; background:#eff0f2 url(../images/icoColor.png) no-repeat 10px center; background-size: 24px;}
input[type=text].input_box {font-weight: normal;}
input[type=text].search {padding-left: 40px !important; background:#eff0f2 url(../images/ic_search.png) no-repeat 10px center; background-size: 24px;}
input[type=text].text-right { padding-right: 60px;}
input[type=text].text-right + .right_area {top:10px;font-size: 14px;}

.openList_area { margin-top: 25px; border-top: 1px solid #d8d8d8;}
.openList_area dt a { display:block; margin-top: 10px;  height:40px; background:url(../images/ic_title_btn_down.png) no-repeat 99% center; background-size: auto 24px; line-height:40px; font-size:14px; box-sizing:border-box;}
.openList_area dt.active a { background:url(../images/ic_title_btn_up.png) no-repeat 99% center; background-size: auto 24px;}
.openList_area .openList_item { display:none; padding:14px 0;}
.openList_area dt.active + .openList_item { display:block;}

/* HOME */
.home .header { height:127px; background:#151a2c;}
.home .header .btnMenu { position:absolute; left:20px; top:13px; width:24px; height:24px; background:url(../images/ic_top_menu.png) no-repeat center; background-size: 100%;}
.home .header .btnAddNew { position:absolute; right:20px; top:13px; width:24px; height:24px; background:url(../images/ic_top_add.png) no-repeat center; background-size: 100%;}
.home .header h1 { margin-top:50px; padding: 0 20px; font-size:0px; text-align: left;}
.home .header h1 img { height:35px;}
.home main { margin-top: 127px; padding-top: 0;}
.home main .tap_area { position:absolute; left:50%; top:-22px; margin-left: -160px; z-index: 99;}
.home main .tap_area .switch {width: 320px; height: 44px;}
.home main .tap_area .slider {border-radius: 22px; background-color: #fff; box-shadow: 0 3px 5px #d3d3d3;}
.home main .tap_area .slider:before { left: 3px; bottom: 3px; width:154px; height: 38px; border-radius: 19px;}
.home main .tap_area input:checked + .switch .slider:before { -webkit-transform: translateX(160px); -ms-transform: translateX(160px); transform: translateX(160px);}
.home main .tap_area .switch .tip { width:160px; font-size:16px;}
.home main .tap_area + section .inner {padding-top:40px}
.home main .inner-item .tag_area {margin-top: 5px;}
.home main .inner-item .tag_area .color_tag { display: inline-block; margin: 5px 0 0 5px; padding: 0 7px; border: 1px solid #ecedee; border-radius: 14px;}
.home main .inner-item .tag_area .color_tag .dot { display: inline-block; width: 8px; height: 8px; border-radius: 4px; vertical-align: middle;}
.home main .inner-item .tag_area .color_tag .text { margin-left: 5px; max-width: 280px; line-height: 26px; font-size: 12px; vertical-align: middle;}
.home main section .inner.chip_Resize {padding-right: 10px;}
.home main section .inner.chip_Resize h2 {margin-right: 10px;}

/* LOGIN */
.login { height:100vh; background: #000 url(../images/img_intro_bg.png) no-repeat;background-size: 100%;}
.login main { position: fixed; bottom: 20px; padding: 0; width: 100%; min-height: auto;}
/* .login .logo {padding: 178px 20px 0px; height: 94px; background:url(../images/img_intro_logo.png) no-repeat 20px 178px;background-size: 162px;} */
.login .logo { display: inline-block; width: 100%; margin-top: 40vh; padding: 0px 20px; height: 94px; background:url(../images/img_intro_logo.png) no-repeat 20px 0px;background-size: 162px;}
.login section .inner { background:transparent; box-shadow:none;}
.login section .inner h2 { font-size: 12px; color: #fff;}
.login .chkwrap.checkBox {margin-top: 15px;}
.login .chkwrap.checkBox label { color: #fff;}
.login .chkwrap + p { margin-top: 35px;}
.login .chkwrap + p a { font-size: 12px; color: #fff;}
.login .bottom_btn_area { padding-top: 0; margin: 0 20px; width: calc(100% - 40px);}
.login .bottom_btn_area .typeBlack { width:calc(50% - 5px); border: 1px solid #dbdcdf; background: #000;}
.login .bottom_btn_area .typeBlack + .typeBlack { margin-left: 10px;}

/* POPUP */
.dimmed { display: none;position: fixed; top: 0; width: 100%; height: 100vh;background: #000; opacity: 0.5;z-index: 999;}
.alert {
    display: none;
    position:fixed;
    left:50%;
    bottom: 20px;
    padding: 15px 40px;
    min-width: 200px;
    max-width: 320px;
    min-height: 20px;
    border-radius:10px;
    line-height: 20px;
    font-size: 14px;
    color: #fff;
    text-align: center;
    background-color: #262a3b;
    transform:translateX(-50%);
    box-sizing: border-box;
    z-index:99;
}
.popup {
    display: none;
    position:absolute;
    top:50%;
    left:50%;
    z-index:999;
    /* padding: 0 20px; */
    min-width: 270px;
    border-radius:10px;
    background-color: #fff;
    box-sizing: border-box;
    transform:translate(-50%,-50%);
    overflow: hidden;
}
.popup .popup-content {
    padding: 35px 20px;
    line-height: 24px;
    font-size: 16px;
    text-align: center;
}
.popup .popup-content .title {
    margin-bottom: 10px;
    font-weight: bold;
}
.popup .popup-content input[type=text] {
    text-align: center;
}
.popup .popup-footer {
    width: 100%;
    height: 50px;
    border-top: 1px solid #e6e6e6; 
}
.popup .popup-footer .popup_btn {
    display: block;
    width: 100%;
    height:50px;
    line-height:50px;
    font-size: 14px;
    text-align: center;
    color: #25293a;
    background-color: #fff;
}
.popup .popup-footer.col .popup_btn {
    display: inline-block;
    width: 49.2%;
    border-left: 1px solid #e6e6e6; 
}
.popup .popup-footer.col .popup_btn:first-child {
    border-left: 0px; 
}
.alert.on,
.dimmed.on,
.popup.on {display: block;}

/* info_popup */
.info_popup { height:100%; background: #000;}
.info_popup main { padding: 0; padding-top: 40px;}
.info_popup .swiper-pagination { position: fixed; bottom: 80px !important;}
.info_popup .info_popup_inner { position: fixed; bottom: 40px; left: 20px; z-index: 99;}
.info_popup .info_popup_inner .checkBox label {color:#fff}

/* swiper */
.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.swiper-pagination-bullet { background: #fff !important; opacity: 0.5;}
.swiper-pagination-bullet-active { background: #fff !important; opacity: 1;}